/* resete */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fonte */
    font-family: Roboto, sans-serif;
}

/* elementos: pais */
header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

aside{
    padding-left: 40px;
}

/* elementos: nivel 1 */
section h2{
    margin-bottom: 32px;
}

/* classes: pais */
.container{
    max-width: 1024px;
    width: 100%;
    /* p/ centralizar */
    margin: 0 auto;
}

.submenu{
    display: none;
    border: 1px solid red;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
    background-color: #fff;
}

.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}

.destaque{
    margin-bottom: 56px;
    margin-right: 8px;
}

.noticias{
    display: grid;
    /* funcao 'repeat' retorna uma string, 'param1' = quantidade de vezes em que repetira 'param2', 'param2' = valor
        ex.: repeat(5, 5%) => 5% 5% 5% 5% 5% */
    grid-template-columns: repeat(3, 32.6%);
    /* cria espacamentos entre as colunas */
    column-gap: 1%;
    row-gap: 5%;
}

/* classe criada p/ dar o espacamento abaixo do elemento que utilizou o atributo 'float' */
.reseteEsquerda{
    clear: left;
}

/* elementos .classes: pais */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .noticia{
    margin-bottom: 24px;
}

/* .classes elementos: pais */
.submenu li{
    display: block;
    padding: 8px;
}

.noticia img{
    max-width: 100%;
}

/* estados */
.menu li:hover{
    border-color: red;
}

/* .classes > elementos: pais */
.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

/* .classes elementos .classe: pais */
/* estados */
.menu li:hover .submenu{
    display: block;
}

/* .classes .classes: pais */
.destaque .noticia{
    margin-right: 8px;
}

/* .classes .classes: nivel 1 */
.destaque .noticia a{
    display: flex;
    font-size: 2em;
}

/* .classes .classes: nivel 2 */
.destaque .noticia a h3{
    margin-left: 8px;
}

/* == responsividades */
/* p/ smartphones + celulares
    geralmente vao ate 767px, apartir de 768px seria um tablet*/
@media screen and (max-width: 767px) {
    /* elementos: pais */
    aside{
        padding-left: 0;
    }

    /* elementos nivel1 .classes: pais */
    header div.container{
        flex-direction: column;
    }

    /* classes: pais */
    .conteudo{
        display: block;
    }

    .container{
        max-width: 90%;
    }

    .noticias{
        display: block;
    }

    .submenu{
        display: block;
        position: relative;
        border: none;
        width: 100%;
    }

    .menu{
        display: none;
    }

    .botao-menu{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    /* classes .classes: pais */
    .noticias .noticia{
        margin-bottom: 32px;
    }

    /* classes .classes: nivel 1 */
    .destaque .noticia a{
        display: block;
        font-size: 1.5em;
    }

    .destaque .noticia img{
        margin-right: 0;
    }

    /* classes > elementos : pais */
    .menu > li{
        clear: both;
    }

    /* .classes elementos: pais */
    .botao-menu button{
        padding: 8px;
    }
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    /* classes: pais */
    .container{
        width: 90%;
    }

    .botao-menu{
        display: none;
    }

    .noticias{
        /* funcao 'repeat' retorna uma string, 'param1' = quantidade de vezes em que repetira 'param2', 'param2' = valor
        ex.: repeat(5, 5%) => 5% 5% 5% 5% 5% */
        grid-template-columns: repeat(2, 49%);
    }

    /* classes .classes: nivel 1 */
    .destaque .noticia a{
        font-size: 1.5em;
    }
}

/* netbooks */
@media screen and (min-width:1024px){
    /* classes: pais */
    .botao-menu{
        display: none;
    }
}