/*reseta da pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos: pais*/
body {
    /*p/ o corpo ocupar toda a tela*/
    width: 100%;
    height: 720px;
    /*reseta as margens*/
    margin: 0px auto;
}

/*elementos filhos diretos: pais*/
body > header {
    /*visualizacao*/
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    /*tamanhos*/
    margin: 10px 10px;
    padding: 10px 10px;
    /*cores + visual*/
    border: 1px dashed #000;
    border-radius: 10px;
    background-color: #f0f8ff;
    color: #000;
}

/*clases: pais*/
.cls_div_principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-between;
    /*tamanho da caixa principal*/
    height: 600px;
}

.cls_entradas
,.cls_form_valida {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margens*/
    padding: 5px 5px;
    margin: 5px 5px;
}

.cls_form_valida{
    margin: auto 32.8%;
    /*esconde div*/
    display: none;
}

/*classes de classes: pais*/
.cls_form_valida.erro{
    display: flex;
    color: red;
    border: 1px solid red;
}

.cls_form_valida.sucesso{
    display: flex;
    color: green;
    border: 1px solid green;
}

/*elementos de classes: pais*/
.cls_div_principal form {
    position: relative;
    top: 30%;
    /*tamanho*/
    width: 100%;
    /*localizacao*/
    justify-content: center;
}

.cls_entradas input{
    margin-left: 10px;
    padding: 10px 10px;
    width: 30%;
}

.cls_entradas button {
    width: 35%;
    padding: 10px 10px;
    /*cores*/
    background-color: #f0f8ff;
    color: #000;
    /*aparencia*/
    border-radius: 10px;
    border: 5px solid #f0f8ff;
}